body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  border-radius: 10px;
  margin-top: 60px;
  width: 350px;
  height: 400px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
p{
  padding:0  20px;
  margin-top: -30px;
  text-align: center;
}
img{
  margin-top: 30px;
  border-radius: 100%;
  width: 100px;
  height: auto;
}
h1{
  padding: 20px;
  margin-top: -10px;
}
#btnPrev{
  
  margin-left: 5px;
}
.iconB{
  display: flex;
}
#btnNext{
  
  margin-left: 10px;
}