body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  border-radius: 10px;
  margin-top: 60px;
  width: 350px;
  height: 400px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.card:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

p{
  padding:0  20px;
  margin-top: -30px;
  text-align: center;
}
img{
  margin-top: 30px;
  border-radius: 100%;
  width: 100px;
  height: auto;
}
h1{
  padding: 20px;
  margin-top: -10px;
}
#btnPrev{
  
  margin-left: 5px;
}
.iconB{
  display: flex;
}
#btnNext{
  
  margin-left: 10px;
}